.container{
    max-width: 100%; 
}
.homeDisplay{
    display: flex;
    margin-top: 150px;
    margin-left: 250px;
    margin-right: 250px;
}
.homeContent{
  text-align: center;
  font-size: 50px;   
}
.homeAbout{
    font-size: 25px;
}
.homeIconDisplay{
    display: flex;   
}
.aboutHead{
    text-align: center;  
    font-size: 50px;  
}
.aboutDisplay{
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 250px;
    margin-bottom: 100px;
}
.aboutImage{
    border-top: 5px solid teal;
    border-right: 5px solid teal;    
    border-radius: 30%;
    width: 30%;
    height: 50%;    
    margin-right: 50px;
}
.aboutContent{    
    font-size: 25px;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;        
}
.resume{
    background-color: teal;
    width: 25%;    
    height: 25%;
    font-size: 35px;
    color: honeydew;
    border-radius: 10%;
}

.myImage{
    border-radius: 30%;
    margin-left: 40%;   
}

.skillsHead{   
    text-align: center;
    font-size: 50px;    
}

.skillContainer{
   margin-left: 30%;
}
 .skill{    
 max-width: 50%;
 }
 .set{
     float: right;
 }
 .progress{
     width: 100%;
 }
.projectDisplay{
    display: flex;   
    border-bottom: 5px solid teal;   
    border-right: 5px solid teal;
    border-radius: 20%;
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 5%;   
}
.projectHeader{
    font-size: 50px;
    text-align: center;
}

.projectImage{
    width: 30%;   
}

.projectDes{
    margin: 70px;
    font-size: 25px;
    text-align: justify;
}
.projectTitle{  
    margin-left: 70px; 
    font-size: 33px;     
}
.projectLink{
    font-size: 15px;
    text-decoration: none;
   margin-top: 30px;    
}
.linkButton{
    margin-left: 100px;
    background-color: cyan;
}
.contactDisplay{   
    margin: 20px;
    text-align: center;  
    padding: 20px;    
}
.contact{
    width: 35px;
    height: 35px;
    padding: 70px;    
}
.navHead{  
    background-color: teal;    
    display: flex;
}
.navOri{   
   margin-left: 50%;
   padding-top: 20px;
}
.navMob{
    display: none;
}
.navTab{   
    text-decoration: none;    
    color: seashell;
    font-size: x-large;
   margin: 25px;    
}
.navName{
    color: honeydew;
    font-size: 35px;
}
.info{   
    display: flex;
    margin-left: 20px;
    background-color: teal;   
    font-size: 30px;
    color: honeydew;   
}
.infoDetail {
    margin-left: 100px;
}

@media screen and (max-width: 480px) {    
    .homeDisplay{
        display: flex;
        margin-top: 30px;        
        margin-left: 30px;
        margin-right: 30px;
    }
    .homeContent{        
      text-align: center;
      font-size: 20px;   
    }    
    .homeAbout{
        font-size: 10px;
        margin-top: 0;
    }
    .homeIconDisplay{
        display: flex;   
    }
    .aboutHead{
        text-align: center;  
        font-size: 25px;  
    }
    .aboutDisplay{        
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .aboutImage{
        display: none;
    }
    .aboutContent{    
        font-size: 13px;   
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: justify;        
    }
    .resume{
        background-color: teal;
        width: 15%;    
        height: 15%;
        font-size: 7px;
        color: honeydew;
        border-radius: 10%;
    }
    
    .myImage{
        border-radius: 30%;
        margin-left: 20%; 
        margin-right: 20%;  
        width: 100px;
    }
    .skillEnd{
        font-size: 15px;
    }
    .skillsHead{   
        text-align: center;
        font-size: 25px;    
    }
    
    .skillContainer{
       margin-left: 15%;
       margin-right: 15%;
    }
     .skill{    
     max-width: 100%;
     }
     .set{
         float: right;
     }
     .progress{
         width:100%;
     }
    .projectDisplay{
        display: flex;   
        border-bottom: 1px solid teal;   
        border-right: 1px solid teal;
        border-radius: 20%;
        margin-left: 20%;
        margin-right: 10%;
        margin-bottom: 5%;   
    }
    .projectHeader{
        font-size: 25px;
        text-align: center;
    }
    
    .projectImage{
        width: 30%;   
    }
    
    .projectDes{
        margin: 14px;
        font-size: 5px;
        text-align: justify;
    }
    .projectTitle{  
        margin-left: 14px; 
        font-size: 7px;     
    }
    .projectLink{
        font-size: 3px;
        text-decoration: none;
       margin-top: 6px;    
    }
    .linkButton{
        margin-left: 20px;
        background-color: cyan;
    }
    .contactDisplay{   
        margin: 4px;
        text-align: center;  
        padding: 4px;    
    }
    .contact{
        width: 10px;
        height: 10px;
        padding: 10px;    
    }
    .navHead{  
        background-color: teal;    
        display: flex;       
    }
    .navOri{
       display: none;
    }    
    .navMob{
        display: block;
        margin-left: 40%;               
    }
    .navTab{   
        text-decoration: none;    
        color: red;
        font-size: 10px;
       margin: 4px;  
       background-color: lavender;      
    }
    .navName{
        color: honeydew;
        font-size: 20px;;
    }
    .info{   
        display: flex;
        margin-left: 4px;
        background-color: teal;   
        font-size: 7px;
        color: honeydew;   
    }
    .infoDetail {
        margin-left: 20px;
    }
    
}

