.compAlign{
    text-align: center;  
    padding-top: 50px; 
}
.navBar{      
    padding: 30px;    
    float: right;
}
.navName{
    text-align: left;
    text-justify: auto;
    padding: 30px;
    font-family: cursive;
}
.navButton{       
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;   
    margin: 30px;
    color: black;
    text-decoration: none;   
}
.homeContent{
    margin: 70px;
    font-size: 50px;
}
.aboutDisplay{
    display: flex;
}
.aboutContentHeader{
    margin: 70px;
    font-size: 50px;
}
.aboutContent{
    margin-left: 70px;
    font-size: 20px;
    padding: 10px;
}
.image{
    float: right;
    height: 250px;
    width: 500px;
}
.listDisplay{
    margin: 20px;
    display: flex;
    align-content: space-around;
}
.list{   
    margin-left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;   
    border: 1px solid blue;  
    text-align: justify;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 5px;   
    background-color: lightblue;       
}
.skillimage{
    width: 600px;
    height: 100px;
    margin-left: 100px;
    margin-top: 150px;
}
.projectDisplay{
    display: flex;
}
.projectHeader{
    margin: 20px;
    font-size: 50px;
}
.projectTitle{
    margin: 20px;    
    font-size: 30px;
    padding: 10px;
}
.projectDes{
    margin-left: 100px;
    font-size: 25px;
}
.projectLink{
    font-size: 15px;
}
.contactDisplay{   
    margin: 20px;
    text-align: center;  
}
.contact{
    width: 35px;
    height: 35px;
    padding: 70px;     
}

