.container{
    max-width: 100%; 
}
.myName{
    color: teal;
}

.homeContent{
  text-align: center;
  font-size: 34px;
}
@media screen and (max-width: 480px){
    .homeContent {
        text-align: center;
        font-size: 16px;
    }
}
.homeIconDisplay{
    display: flex;   
}
@media screen and (max-width: 480px){
    .homeIconDisplay{
        display: flex; 
    }
}
.aboutBackground{
    background-color: teal;
}
.aboutHead{
    text-align: center;
    color: thistle;
}
.aboutDisplay{
    column-count: 1;    
}
.aboutContent{    
    font-size: 20px;   
    text-align: justify;
    color: honeydew;
}
.myImage{
    border-radius: 30%;
    margin-left: 40%;   
}
@media screen and (max-width: 480px) {
    .aboutBackground{
        background-color: teal;
    }
    .aboutHead{
        text-align: center;
        color: thistle;
    }
    .aboutDisplay{
        column-count: 1;        
    }
    .aboutContent{    
        font-size: 14px;   
        text-align: justify;
        color: honeydew;
    }
    .myImage{          
        border-radius: 30%;
        margin-left: 30%;   
    }
}
.skillBackground{
    background-color: navajowhite;
}
.listDisplay{
    margin: 20px;
    display: flex;
    align-content: space-around;
}
.list{   
    margin-left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;   
    border: 1px solid blue;  
    text-align: justify;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 5px;   
    background-color: lightblue;       
}
.skillimage{
    width: 600px;
    height: 100px;
    margin-left: 100px;
    margin-top: 150px;
}
.projectBackground{
    background-color: seagreen;
}
.projectDisplay{
    display: flex;
}
.projectHeader{
    margin: 20px;
    font-size: 50px;
}
.projectTitle{
    margin: 20px;    
    font-size: 30px;
    padding: 10px;
}
.projectDes{
    margin-left: 100px;
    font-size: 25px;
    text-align: justify;
}
.projectLink{
    font-size: 15px;
}
.contactDisplay{   
    margin: 20px;
    text-align: center;  
}
.contact{
    width: 35px;
    height: 35px;
    padding: 70px;     
}

